body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #004d99; 
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid #004d99;
}

h2 {
    color: #007bff;
    margin-top: 30px;
}

p {
    text-align: justify;
    margin-bottom: 15px;
}

ul {
    margin-bottom: 20px;
}

footer {
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    color: #666;
    font-size: 0.9em;
}