body{
     font-family: Arial, sans-serif;
    background-color: #333333;
    color: white;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

.koc{
    width: 200px;
    margin: 0 auto;
}