body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333333;
    font-family: monospace;
    color: white;
}

.navbar {
    background-color: #121212;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: #333333;
}

.cim{
    color: white;
    text-align: center;
    margin-top: 7%;
    font-size: 260%;
}

.ucim{
    color: white;
}

.def{
    color: white;
    text-align: justify;
    font-size: 115%;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.tart{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    font-size: 150%;
    text-align: justify;
}

.ek{
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 30px;
    width: 30%;
    float: left;
}

.fba{
    margin-top: 20px;
}

.kci{
    text-align: center;
    margin-top: 10%;
    font-size: 235%;
}

.ksz{
    margin-top: 3%;
    text-align: center;
    font-size: 160%;
}

.kkk{
    
    display: block;
    width: 500px;
    margin: 0 auto;
    height: auto;
    margin-top: 40px;
}

.htu{
    text-align: center;
    font-size: 220%;
    margin-top: 43px;
}

.hva{
    text-align: center;
    font-size: 147%;
}
