body{
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: #333333;
    font-family: monospace;
    color: white;
}

.navbar {
    background-color: #121212;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: #333333;
}

.minden{
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    color: rgb(98, 98, 185);
    text-align: center;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
}

h2 {
    color: #afafaf;
    margin-top: 30px;
}

p {
    font-size: 130%;
    line-height: 1.5;
    text-align: left;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li{
    font-size: 130%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: 20px auto;
    margin-right: auto;
    border: 1px solid #eeeeee;
}