body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333333;
    font-family: monospace;
    color: white;
}

.navbar {
    background-color: #121212;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: #333333;
}

h1{
    text-align: center;
    font-size: 220%;
}

.kop{
    margin-top: 30px;
    width: 200px;
    margin: 0 auto;
}

label{
    font-size: 120%;
}

button{
    margin-top: 5px;
    color: rgb(69, 143, 212);
}

.el{
    color: rgb(128, 128, 197);
}
